{% extends 'base.html' %}
{% load static %}
{% block content %}

<center>

<img src = "{{ employee.image.url }}" style = "height:200px;width:200px;border-radius:50%;">

<h2>Full Name: {{employee.fullname}}</h2>
<h4>National Certification Number:<b> {{employee.national_certificate_number}}</b></h4>
<h4 style = "font-style:italic; color:blue;font-weight:bold;">Position: {{employee.position}}</h4>
<h5><strong>Date Of Birth:</strong> {{employee.date_of_birth}}</h5>
<h5><strong>Age:</strong> {{employee.age}}</h5>
<h5><strong>Employee Code:</strong> {{employee.emp_code}}</h5>
<h5><strong>Email:</strong> {{employee.email}}</h5>
<h5><strong>Phone:</strong> {{employee.phone}}</h5>
<h5><strong>Passport/Citizenship Number:</strong> {{employee.citizenship_number}}</h5>
<h5><strong>Gender:</strong> {{employee.gender}}</h5>
<h5><strong>Relationship Status:</strong> {{employee.status}}</h5>
<h5><strong>Address:</strong> {{employee.address}}</h5>
<h5><strong>Home Number:</strong> {{employee.home_phone_number}}</h5>
<h5><strong>Joined Date:</strong> {{employee.joined_date}}</h5>
<h5><strong>Department:</strong> {{employee.department}}</h5>
<h5><strong>Salary:</strong> {{employee.salary}}</h5>
<h5><strong>Short Bio:</strong><br> {{employee.bio}}</h5>
</center>
    <a href="{% url 'list_view' %}" style = "width:100%;" class="btn btn-primary"><i class="fas fa-home mr-2"></i>Back To List</a>

{% endblock content %}