{% extends 'base.html' %}
{% block content %}
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name" style= "width:100%;">

<table class="table table-boderless" id = "myTable">
    <thead class="border-bottom font-weight-bold">
        <tr class = "header">
            <th>Emp. Code</th>
            <th>Full Name</th>
            <th>Mobile</th>
            <th>Position</th>
            <th>
            <a href="{% url 'form_view' %}" class="btn btn-outline-success"><i class="fas fa-plus">Add New</i></a>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for employee in employee_list %}
        
        <tr>
            <td>{{employee.emp_code}}</td>
            <td>{{employee.fullname}}</td>
            <td>{{employee.phone}}</td>
            <td>{{employee.position}}</td>
            
            <td>
                <a href="{% url 'update_view' employee.pk %}" class="btn text-secondary px-0" title = "update">
                    <i class="far fa-edit"></i>
                </a>
                <form action="{% url 'delete_view' employee.pk %}" method = "post" class = "d-inline">
                {% csrf_token %}
                <button type = "submit" class = "btn" title = "delete">
                <i class = "far fa-trash-alt fa-lg text-danger float-right"></i>
                </button>
                </form>
                <a href = "{% url 'detail_view' employee.pk %}" title = "details"> <i class="fas fa-user fa-lg text-success"></i></a>
                
            </td>
            
        
        </tr>
        

        {% endfor %}
    </tbody>
</table>

{% endblock content %}


{% block js %}
<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>
{% endblock js %}

